[2017-05-30 09:16] natdan opened #3 "project structure"
@nebbian & @Benraay - do you want, maybe, me creating java project structure for you guys? Any ideas what should be project's groupId and artifactId? Package name? I know those are the least important things and the hardest for me to come up with something sensible! O: )

[2017-05-30 11:00] Benraay commented on #3
Go for it !
So I can start the translation to Java !

Le mar. 30 mai 2017 à 11:16, natdan <notifications@github.com> a écrit :

--

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If you are not
the in

[2017-05-30 13:26] nebbian commented on #3
Doing the framework for this project and planning it out well, would be fantastic.  I'd suggest the package name might be RoboxSlicerExtension, but I don't know much about the normal conventions on this sort of thing.  The last time I touched Java was at university, so that's... ummm... 15 years ago...

You'd be a lot better placed to make those sorts of decisions.

I think we need to decide on th

[2017-05-30 13:50] natdan commented on #3
:+1:

Project name goes without saying: 'Robox Slicer Extension' ('robox-slicer-extension' for maven artifactId, 'roboxslicerextension' for last part of the package, RoboxSlicerExtension for the class name, etc)

Group - that's where the problem is. Maven groupId, first part of the package (sometimes last part of the domain name) is where you describe 'organisation'/'group'/'group of projects', et

[2017-05-30 14:24] nebbian commented on #3
The group could be something like org.roboxenthusiasts?  org.roboxslicerextension works as well.
+1 for making it cross platform.  For some reason us Mac people are in the majority for once, I don't want to treat Windows/Linux people with the same disdain that they've treated us with for years.

[2017-05-30 14:29] natdan commented on #3
_"For some reason us Mac people are in the majority for once, I don't want to treat Windows/Linux people with the same disdain that they've treated us with for years."_
LOL. I'm happy with org.roboxenthusiasts unless someone has better idea/strong(er) opinion(s)! :)

[2017-05-30 14:31] natdan commented on #3
Oh, oh... There's another option (but not that good): com.roboxing! It is Tom Gidden's original web site ([https://github.com/tomgidden](https://github.com/tomgidden)) currently hosted at my servers... So it can accommodate (if really necessary) 'web side' of the project (no matter of name of the 'group').

[2017-05-30 14:50] nebbian commented on #3
com.roboxing is probably the best one yet.  Nice catch!

[2017-05-31 06:55] natdan opened #6 "Flow"
I've been thinking walking to work this morning: I think I have clear(er) idea what the code/control flow could be. Let me know if I am closer to what you had in mind.

- CuraEngine (CuraEngine.exe) is a script that invokes our jar file passing all program arguments to it.
- the jar file captures arguments (and parses them?) and stores them for later
- the jar file reads config file .roboxslicerex

[2017-05-31 07:02] nebbian commented on #6
That sounds really good.  It certainly matches what I had in mind for this system.
The only issue I have is that you need to remember where to find the "separate control program", or where the config file is, when you want to change slicer.  I still like the idea of a popup window that asks you if you want to configure it or change slicer.  If a popup window was implemented then it's just one more

[2017-05-31 07:07] natdan commented on #6
Hm. Why not adding it to the config as well? Originally I thought that having extra popup each time I start printing is a bit of a drag and I wouldn't want to click continue just to have ability of changing things. But, when config entry is true it will ensure that 'Control Window' is open (if not already opened) but it won't stop the flow anyhow. You'll have your visibility that you can change th

[2017-05-31 07:25] nebbian commented on #6
I guess I don't understand how the Control Window will open.  Is this a separate program that you have to start manually, or does it start when you first start slicing?

Regarding calculating times, right now if the path contains "PrintJobs" then it will open the choice of slicer, otherwise it uses the default Cura slicer.  This lets Automaker calculate print times without showing the slicer windo

[2017-05-31 07:36] natdan commented on #6
_"I guess I don't understand how the Control Window will open. Is this a separate program that you have to start manually, or does it start when you first start slicing?"_

Sorry for the confusion. I see it as separate program you can open at any time you want and set up what you would normally want to happen when you slice stl(s). But for ease of use it can be opened (and is by default) when slic

[2017-05-31 07:40] nebbian commented on #6
Yep that's fine.  No problems.  I just don't want the user to have to remember where that program is if they want to make changes.  If it opens automatically when slicing then that's fine.

[2017-05-31 08:02] Benraay commented on #3
go for the last option !
com.roboxing

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If you are not
the intended recipient of this message or their agent, or if this message has
been addressed to you

[2017-05-31 08:12] natdan commented on #3
LOL - already in the pull request! :)

[2017-05-31 08:14] Benraay commented on #3
sorry I have a lot of work this week my replies are a bit late you make
good choices with @nebbian I let you decide for the first project structure
!

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If

[2017-05-31 08:17] natdan commented on #3
Oh, no - don't let you stop expressing what you had in mind. Nothing is set in stone!

[2017-05-31 20:04] natdan commented on #6
If you want to see a preview of simple UI - here's the jar file I come up today:
https://www.dropbox.com/pri/get/robox-slicer-control-1.0-SNAPSHOT.jar?_subject_uid=318687283&w=AADBPJ1PiYgUtBb6J-iwONTlDkIJK6IYjXSX5Bx24HeOLg
I'll make PR at some point but I've been playing with UI only for now...

[2017-05-31 21:26] Benraay commented on #6
Hi,
I found an issue in the slic3r_postprocess.pl and want to start the java thing but how do I merge the nebbian master inside my fork ? is there any option in github ?

[2017-06-01 02:35] nebbian commented on #6
@natdan, Thanks for that but I can't see the file, I get a 403: forbidden error.

[2017-06-01 06:27] Benraay commented on #6
Me too !

Le jeu. 1 juin 2017 à 04:35, Ben Hitchcock <notifications@github.com> a
écrit :

--

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If you are not
the intended recipient of this message or t

[2017-06-01 06:35] natdan commented on #6
Let's try again:
https://www.dropbox.com/s/5pgplg7gqufic6n/robox-slicer-control-1.0-SNAPSHOT.jar?dl=0

[2017-06-01 06:40] nebbian commented on #6
That looks really good.  I was going to suggest greying out options for slicers that aren't installed, but it looks like you beat me to it :)

What is your intention with the pre-  and post- processor scripts?  I assume that these hook in before and after our special code that transforms normal gcode into Robox postprocessor compatible code?

[2017-06-01 06:45] natdan commented on #6
@Benraay you should do it in command line using git. Two links I shared in your pull request explain in:
[https://help.github.com/articles/configuring-a-remote-for-a-fork/](https://help.github.com/articles/configuring-a-remote-for-a-fork/)
[https://help.github.com/articles/syncing-a-fork/](https://help.github.com/articles/syncing-a-fork/)

If you don't have command line git then you can set one wi

[2017-06-01 06:46] natdan commented on #6
Plus - I don't mind explaining each step separately so you **know** what you're doing! :)

[2017-06-01 06:55] nebbian commented on #6
Also, a really good git client is SmartGit by Syntevo, I've been using it for years, it is by far the best one that I've found.
As @natdan says, we've all been through this.  It seems a bit hard to understand at first, but once you figure out how branches and pull requests work, it should all click into place.

[2017-06-01 07:01] Benraay commented on #6
Yes I did it with command line I found no way to do it with  Sourcetree.

Thanks for these tips.

I also got stuck compiling the java source in Jar
I did it with command line also but when I try to launch it I have a "no
main or something" error
How do you compile the jar ?
Should be easy as there is only one class.
My pure java tests  are a bit far from me about 7 years

But I merged the master u

[2017-06-01 07:08] natdan commented on #6
I don't know - I am experimenting at the moment. 'Pre' script, as I explained in the first post here, is supposed to happen after slicer has created gcode but before that gcode is shaped to suite AM post processor. 'Post' script is script that is supposed to happen after slicer's resulting code is shaped for AM post-processor but before control is returned back to AM. Some hooks people can add the

[2017-06-01 07:11] Benraay commented on #6
@nebbian I will look smartGit I tried GitHub' desktop app but there  are a
lot of things missing like merging and some other stuff.
For now I was using Sourcetree successfully
But it does not pull the installer submodule

I'm always a bit young on git I used svn for years but Git is really much
better, more flexible and safe.

I was using one or two branches and merging sometimes but all that pull

[2017-06-01 07:15] natdan opened #7 "Compiling Java Code"
Get the latest maven ([https://maven.apache.org/download.cgi](https://maven.apache.org/download.cgi)).

From command line go to java/robox-slicer-extension and type:
[code]
When it finishes in java/robox-slicer-extension/robox-slicer-control/target and java/robox-slicer-extension/robox-slicer-flow/target you can find two jar files like:
[code]
The bottom one is 'executable' jar. In IDE's you don't

[2017-06-01 07:21] Benraay commented on #7
Great I will try to reimport as maven project in intelliJ.
If I got stuck I will use command line thanks !!

Benjamin Raaymakers

CONFIDENTIALITY NOTICE:

The contents of this email message and any attachments are intended solely
for the addressee(s) and may contain confidential and/or privileged
information and may be legally protected from disclosure. If you are not
the intended recipient of thi

[2017-06-01 07:58] natdan commented on #7
No need to command line unless you want to produce standalone - executable jar. In IntelliJ just navigate to Main class (of each project) and use 'Run...' on it!

[2017-06-01 10:59] natdan commented on #6
BTW - any preference for .roboxslicerextension config file? Java prefers 'properties' file
[code]
with 'structure' defined with dots in key names:
[code]
Anything else someone would rather like to see?

So far I can see only following config keys:
[code]
Later `simplify3d.path=<path>` would do the same.

[2017-06-01 11:30] nebbian commented on #6
As standard as possible works for me.  What you propose sounds great!

[2017-06-01 12:36] natdan commented on #6
:) - I must say that if I was very sure of it I would have proposed it in code, but I am not. And as for standard - there isn't such thing and I am open to suggestion and even refactoring if needed!

But, thanks - I'm happy to start that way for now.

[2017-06-01 12:39] nebbian commented on #6
Another option that seems reasonably common is json, it's easy to parse, although harder to edit manually.  Just an idea.

[2017-06-01 12:53] natdan commented on #6
Yes. That was another option I was thinking of. See! It is not easy! :( There's XML, too, but I wouldn't go with it in this day and age... And maybe some other formats, too. Slic3r and AM (update part) use .ini files (which add extra complexity for parsing). AM uses .properties file and json (or json-alike) structure for preferences...

[2017-06-02 07:10] Benraay commented on #6
My preferred is JSON as it is easy to read for a developer and easy to
parse.
But for non developer people maybe the .ini approach is the best as it is
more difficult to make mistakes

[2017-06-02 09:08] natdan commented on #6
if you guys think that's the good way forward - json it is :)

[2017-06-02 22:51] Benraay commented on #7
Ok I got it compiled.
I wanted to start writing the postProcessor but I saw that you @natdan started to write some code how can I get your work before I start mine, do I need to  merge your feature branch to mine ? Or need to pull your work on @nebbian's repo first ?
Also where do It write the postProcessor, do I make a new Class ? it's maybe the best way of doing.

[2017-06-03 08:33] natdan commented on #7
I've started it last night. I need another day and I'll make a pull request. It is, currently, just a re-write of shell script + perl. I've made work-in-progress commit so you can see where I am going with it. I hope I'll get an hour tonight and maybe couple tomorrow to get it to state you can start adding post processor code to slicer(s). Check it in here: [https://github.com/natdan/RoboxSlicerEx

[2017-06-03 15:51] nebbian commented on #7
Looks pretty good to me so far.  Keep up the great work!

[2017-06-04 17:53] natdan commented on #7
@Benraay OK - if you want to start doing something, before we reach working code, you can checkout https://github.com/natdan/RoboxSlicerExtension/tree/Initial-Flow-Code/java/robox-slicer-extension, switch to Initial-Flow-Code branch and commit away. Do feel free to change anything. Consider this as work-in-process until it gets nice rounded shape so we can submit pull request to @nebbian 's branch

[2017-06-06 23:54] Benraay commented on #7
@natdan Ok I have integrated my code in the Initial flow branch had no time to make some tests.
I should work but need some tests.

Also I saw that @nebbian has started making a more generic gcode parsing separating X, Y, Z , E and F values it's maybe a better point to start.

@nebbian you also said that you found that some post processings are not needed to make it work.
Can you tell us which one

[2017-06-07 00:57] nebbian commented on #7
Nice work @Benraay.

** Required: **
MIN_TRAVEL_DISTANCE is required, otherwise there are occasions where Slic3r travels 0.00001mm or something, the robox post processor rounds this off, and then can't figure out which direction that travel move is in.

Hints are absolutely required.  They must be present, and enough of them to make it obvious to the slicer what's happening.  You must have a hint

[2017-06-07 06:01] Benraay commented on #7
Ok I will try to make a more simple and more portable post processing with
this informations.
Thanks.

[2017-06-10 16:34] natdan commented on #7
@Benraay I've realised that I had another commit that I didn't pushed - so I took your code and slightly re-shuffled it around(*). Do stash your changes before pulling and get ready to do some merge conflicts (or instead of just pulling in the latest - do git fetch followed by git rebase - let me know if you need more precise instructions).

(*) changes I've made:

- Your 'demo' branch of if state

[2017-06-10 16:39] natdan commented on #7
Currently I only plan to gently interfere with what you're doing by ensuring flow is done properly (invoking extra scripts). Most of other code changes I'm hoping to make are around saving json configuration file from 'Control' app and reading it and interpreting it from flow app. Also, as @nebbian asked, checking if it is running and if not invoking 'Control' app at first slicing.

I tried to do

[2017-06-11 09:35] Benraay commented on #7
@natdan ok happy to hear that it is going forward.
and yes I know the 20% thats takes 80% of the time.
I let you go ahead for the user flow and will concentrate on making the postprocessor better

[2017-06-13 08:04] nebbian commented on #7
Would I be right in assuming that the control application doesn't yet save the .json file for reading by the flow application?  I've tried compiling both branches, and haven't managed to get the flow application to work yet.

[2017-06-13 08:13] natdan commented on #7
You're right. I almost added it yesterday, but got 'dragged' away to a theatre O: ) (completely forgotten about it). Saving from control app is going to happen quite soon and I'll concentrate testing it and making code more robust (currently when it fails it just fails in some less controllable way).

[2017-06-13 17:50] natdan commented on #7
@nebbian now yo mentioned two branches - I've merged Initial-Control-Window branchs to Initial-Flow-Code - it is easier when having both at the same time to do saving/loading config file...

[2017-06-13 19:02] natdan commented on #7
OK - now Initial-Flow-Code should have up-to-date control and flow app which apparently work...
At least when invoked from IDE with parameters ("-o <path-to-file.gcode> <stl-file>" it invokes Slic3r and then post process it.

Oh, control window only sets slicer at the moment, but I'll add setting pre/post processor scripts, preview and various slicer parameters as well. Now is time to day-dream ab

[2017-06-15 06:16] nebbian commented on #7
Thanks for that @natdan.

I've downloaded the latest code, built the jar files, and tried running them.  I can run the control window, and it saves a config file in my home directory under CEL Robox.  Awesome!

However when I try invoking the flow via the command line, it barfs.  Here's a dump:
[code]

Any ideas?  CuraEngine_exe is definitely present.

[2017-06-15 07:00] natdan commented on #7
_"Any ideas? CuraEngine_exe is definitely present."_

Yes. Maybe we'll need invoking bash to invoke script... I'll see to it tonight.

[2017-06-15 07:06] Benraay commented on #7
Good news we are almost there, I will make some test tonight also

[2017-06-15 18:45] natdan commented on #7
It's not that. I put temporary fix - locked AM installation on OSX to /Applications/CEL. It should work now (please try it and let me know - I can react and fix it quite quickly). Real solution is to always run jar from place we'll stick it in AM installation and deduct AM installation dir from there.
That would mean that when we create run config (Eclipse or Idea for instance) we'll need to someh

[2017-06-15 20:12] natdan commented on #7
OK - now I've fixed that as well... Jar file must be in /Application/CEL/Common (or in other words 'Common' dir of AM installation. Alternative is to add --am-installation-dir /Application/CEL to the list of args you're invoking jar (or just a main class from IDE). The rest is on code to determine where CuraEngine_exe is and invoke it from there...

And there'll be some changes as it really should

[2017-06-15 20:36] natdan opened #8 "Replacing big if else with regular expressions"
@Benraay (and @nebbian): I've been thinking what to do with code in Slic3r.postProcess method. It is quite awful with all the assignments in conditional expression :eek:

I can propose two alternative - but none is ideal (Java is not the best with DSL - had it been Scala or some other language...) and cannot decide which would you like better.

First is simple DSL along the lines:
[code]

As you c

[2017-06-15 20:54] Benraay commented on #8
Yes I managed to rewrite perl to Java like it was.
I specially love the assignments in conditional expression :)
There is probably a better solution like you are proposing.

The second one looks more robust

[2017-06-16 07:22] natdan commented on #8
Oh - you did good job converting it in nice tight code... But to me assignments in conditional expression are really screaming code smell... LOL

I'll try to re-organise it in a way of introducing bit of both and create separate pull request for you to check if you like it. I am not insisting on such solution - just curious if we can make it more... I don't know, readable? Logical? If that solutio

[2017-06-16 07:26] nebbian commented on #8
By the way, just to throw a fly in the ointment here, I've managed to rewrite the postprocessor so that most of those regular expressions aren't needed.

It's just fleshing out the G1_Disabled code that's there at the moment.  It seems to work OK, I just need to do a bit more testing.  I think it's far more robust than all those regular expressions that seem quite fragile.  It should actually work

[2017-06-16 07:35] natdan commented on #8
Oh, don't worry - I've got time :) We'll do it at the appropriate point when it doesn't affect you doing real code...

[2017-06-16 10:49] Benraay commented on #8
@natdan I was joking on the assignment in tests of corse it's a really bad usage.

@nebbian good news I was starting to do that yesterday until I saw natdan's code re-organisation

@nebbian I let you push your changes when you have time.

I'm working on a absolute to relative E convertion to handle the cura 2.5 code...

[2017-06-16 10:53] natdan commented on #8
@Benraay you've got me there! LOL
Please guys - do let me know if you feel I'm under your feet. I can refrain pushing some changes until you do yours... Or - if you believe there there's a good strategy how to go through first big bundle of code into @nebbian repo so we can easily work on our branches without tripping each other - do let me know! :)

[2017-06-16 11:25] Benraay commented on #8
@natdan it's okay for me you make good improvements in the workflow no matter If I need I will make a branch to make my changes.

I will concentrate on the Absolute to relative E for now

[2017-06-16 14:48] nebbian commented on #8
I just tried to push my new code to Natdan's fork in a new branch, but got the following message:

[code]

Any ideas?

[2017-06-16 19:10] natdan commented on #8
No idea... You're trying to create new branch, right? Did you try it again?
Maybe try just simple
$ git push
and follow instructions if it complains that you didn't set upstream branch...
Or - use git gui! :)

[2017-06-16 22:30] nebbian commented on #8
Yeah I was using Smartgit.

I used the same process, and made a new branch in my repo.  Feel free to pull from upstream to see the new, simpler, code.

[2017-06-17 08:56] natdan commented on #8
Will do. Since you've invited me to collaborate in your repo - shell we just move all the code there and make PRs from feature branches to master there?

[2017-06-17 12:53] nebbian commented on #8
Yep, I think keeping it all in the one repo would be a good way to go.  Using pull requests within the same repo seems like a great way to ensure that all the i's are dotted and t's crossed.  I've just invited @Benraay as well.

[2017-06-17 13:50] natdan commented on #8
@nebbian I've just pushed branch to your repo
@Benraay I am sure that there's git incantation to do it through git commands but I just did:
[code]
change - remote above from 'origin' to 'upstream' (given that you have already defined upstream). If not just add following, too:
[code]

[2017-06-17 20:28] Benraay commented on #8
Ok but I have just written a few lines of code If I just clone the Initial-Flow-Code and paste my changes it can also be ok or not ?

[2017-06-17 20:31] natdan commented on #8
Of course. Sometimes it is less hassle doing it the way you suggest! :)

[2017-06-19 00:14] Benraay opened #9 "Absolute extrusion"
Hi,

I added a absolute to relative values script inside the Slic3r script.
maybe it should be in a parent class because it is meant to be generic for all slicers.
But the parent class "Slicer" is abstract, can I write some generic code there or is this "not the java way of coding" ?

let me know I will move it if it's better.

[2017-06-19 02:45] nebbian commented on #9
I think we should follow DRY principles as much as possible, which means making everything as generic as possible, and only overriding things that are actually different for each slicer.

I believe that abstract classes can have methods (and code inside those methods), so I'd prefer to put as much code as possible inside the parent "Slicer" class.  It might take some clever thought to work out whe

[2017-06-19 07:09] natdan commented on #9
Go for it. And let us not being afraid refactoring if we think of a better way! :)

[2017-06-19 07:21] Benraay commented on #9
ok good news I love DRY code, I will move my code to the parent.

[2017-06-19 07:28] Benraay commented on #8
@natdan did you start the postProcessor class I want to rewrite latest perl version of @nebbian but it could be good to do it with the new structure you suggested.
I'm not sure how exactly you want to organize it, Can you just make a sample code.

[2017-06-19 07:40] natdan commented on #8
No, I didn't - weather was awful for coding (otherwise fantastic for barbecue). I'll do it tonight if you don't mind.

[2017-06-19 07:43] Benraay commented on #8
Barbecue is great also ! I did it last week end !
No matter let me now when you have something.

[2017-06-19 08:01] nebbian commented on #8
Just letting you guys know that I've just merged the new postprocessing code into the master branch.  It seems to be working well, and for some reason it's producing better prints than the old, more complicated code, at least for one particular model I've been printing.  This should be a much better candidate to start with when writing the Java port.

[2017-06-19 08:48] Benraay commented on #8
Yes this code is more generic and maybe more efficient !
I will try to port this tonight and move the stuff in master class.
and also make some tests with cura 2.5 if I have some time.

We are going to have a nice plugin !

[2017-06-19 20:09] natdan commented on #8
OK. I've done something. It compiles but I didn't get to test it out yet. Do have a look at Slic3rPostProcessor (and impl AbstractPostProcessor). Also, there's new class LineProcessor. Do let me know if it makes sense! :)

[2017-06-20 23:45] Benraay commented on #8
@natdan and @nebbian
I have ported the perl code from @nebbian to Java and moves all the stuff to Slicer Class because all this code is generic now.

@natdan I have read all of your implementation on the Pattern and line postProcessor.
I'm sorry but my feeling is that we loose the readability of the processor in that way it's probably much more "Java way of coding" but more difficult to change it.

[2017-06-20 23:49] Benraay commented on #6
guys I was trying to test the latest version with the jars but how do we call the jar instead of the bash / perl script.

did you make something with the installer ?

[2017-06-21 07:43] natdan commented on #8
@Benraay It is up to you. If you think it is not clean or easy to understand, i.e. intuitive, (not the mechanism behind it but the class that does the transformation) then leave it away.

Oh, BTW, ever so slightly related - all those need to be refactored to different packages, but we don't have to do it just yet. :)

[2017-06-23 01:32] Benraay opened #11 "gcode not working with last version"
@nebbian

I made some tests with the latest perl script from master.
the AM wont postprocess this file.
orig is the one from Slic3r
and gcode is the postprocessed from the perl script

[33446203b4404028.gcode.orig.txt](https://github.com/nebbian/RoboxSlicerExtension/files/1096556/33446203b4404028.gcode.orig.txt)
[33446203b4404028.gcode.txt](https://github.com/nebbian/RoboxSlicerExtension/files/109

[2017-06-23 01:38] nebbian commented on #11
Hmmm.  It's not generating the hints for some reason.  Note that it was working for me.

I'll look into this.

[2017-06-23 01:40] Benraay commented on #8
Yes we probably need to make some refactoring at the end.

I'm sorry for the work you made on the patterns but I prefer to keep it a bit more simple to understand.

I just pushed a new version and added a little intall bash script that copies the jar and the bash script.
for now the bash script is calling the jar with all the options, I found a better way to cleanup the parameters, I had to change

[2017-06-23 01:41] Benraay commented on #11
good point that you saw this immediately !

[2017-06-23 01:42] Benraay commented on #11
I also made a little change on the E regex
E([\-0-9\.]+)\s?
I need to add the question mark at the end because there is no whitespace at the end of the line !

[2017-06-23 01:55] nebbian commented on #11
@Benraay I've uploaded a change.  The issue was that you were using a skirt, which by default Automaker doesn't use.  It only uses a brim (but confusingly enough calls it a skirt).  I had set up my Slic3r profiles to use a brim, but no skirt.

Anyway the upshot is that you just have to add one line to the hints and it should all work.

[2017-06-23 01:57] nebbian commented on #11
btw the E regex should work without mods, there is always a space after the E command in the slic3r output (as far as I can see).  There is no space AFTER postprocessing with our perl script.

Granted, the regex that tests for the space doesn't need to be there, but it should always work with the code that slic3r spits out.

[2017-06-23 06:39] Benraay commented on #11
Ha I forgot it I had already the same bug with the skirt just forgot to add it again ...

[2017-06-23 07:05] natdan commented on #8
Oh, don't worry. I'm sure I'll be able to make you like that other solution - you just need more time! ;)

However, main thing is that I don't want to be in the way until we have nice, stable working code. All of that pattern thing is extra stuff and not quite yet needed.

[2017-06-23 07:08] Benraay commented on #11
Got it , I forgot to remove a call to the perl slicer inside Slic3r advanced options !!
I was parsing the gcode twice !
all looks ok for now thanks for your help

[2017-06-23 07:10] #11 closed

[2017-06-23 07:10] Benraay commented on #8
lol ok I let you the time to convince me later...

[2017-06-23 07:10] #9 closed

[2017-06-23 23:29] Benraay opened #12 "Installer and control window"
@natdan I managed to get it work with the script "CuraEngine" and "install"
work good for development purpose but maybe we need to update your installer script.

@nebbian I made some little changes to the postprocess, added a ? on the speed regex : (F([\-0-9\.]+)\s?)
because when it is on a single line there is no whitespace at the end !
also added a tiny test to put z value only when needed.
and

[2017-06-24 09:02] natdan commented on #12
@Benraay Of course. What you had in mind? I am really hoping to take the latest later on today and see what else is needed to be done. And to finally test it myself - end to end (clean AM, install, and see how it goes).

Also, I am still owing @nebbian ability to open control window on first invocation of our 'flow' and keep it open on all subsequent. Beside that, I was hoping that I'll have a qui

[2017-06-25 00:18] nebbian commented on #12
Hey hey!  It works!  I just used the java stuff to obtain a print.  Excellent work from both of you.

I did find a couple of issues, I'll document them in actual issues here in github.

[2017-06-25 00:19] nebbian opened #13 "Control window doesn't remember choice"
When opening the control window after saving "Slic3r" the previous time, the window still shows the default Cura.  I think the choice is being saved, but it's not prefilling the dropdown box properly.

[2017-06-25 00:21] nebbian opened #14 "Default Cura slicing is broken"
After choosing the default Cura slicing engine using the control applet, and then doing a slice, I get this error:

[code]

However, using Slic3r seems to work fine.  Could it be that you don't need to postprocess output from the default engine?

[2017-06-25 08:17] Benraay commented on #14
Yes probably we don't need to do anything but just call the default curaEngine_exe
I did not test this, I will take a look maybe tonight

[2017-06-25 11:03] natdan commented on #13
Done. Have a quick look at the branch code...

[2017-06-25 11:04] natdan commented on #6
I'm going to do it now in the branch! Give me a moment...

[2017-06-25 11:09] natdan commented on #14
Actually we would really like to have it as we can then insert custom post processing scripts and visualiser(s). I'll have a look at why it fails! :)

[2017-06-25 13:33] nebbian commented on #13
Awesome, seems to work properly now.  Thanks for sorting this out.

[2017-06-25 13:33] #13 closed

[2017-06-25 15:05] natdan commented on #6
OK. Branch now uses CuraEngine script that invokes jar. Also, branch now has updated installer that uses the branch to install from. So, if you use installer from the branch it will update AM from itself. Later, when check out the branch, you can always overwrite flow jar with freshly built one to test stuff further.
~/CEL Robox/ now has ~/CEL Robox/robox-slicer-extension.log log file to debug stu

[2017-06-25 15:12] nebbian commented on #6
Regarding the error, this is usually because there is a printing move (or retraction?) before sending the layer numbers.  It's most likely that you haven't installed, or selected, the slic3r profiles.
The critical part for this error is to ensure that you have selected the Robox as your printer, and set this in the "Layer change" GCode:
`;LAYER:[layer_num]`
I've done a couple of prints tonight usi

[2017-06-25 17:10] natdan commented on #6
You were right - I just didn't do it. But now I saw two more problems:

- slic3r_postprocess.pl needs to be made executable
- Robox_slic3r_config_bundle.ini needs to be updated with installation directory (path to slic3r_postprocess.pl). Currently it is hardcoded to /Application/CEL which is wrong. I'll see to it - but first I need to sort out Robox :( - something got stuck in, I think, extruder -

[2017-06-25 19:16] natdan commented on #6
BTW installed is supposed to make slic3r_postprocess.pl and CuraEngine executable files on OSX and Linux. When I test it I'll update our branch's jar file with the latest version. Still didn't add template processing for Robox_slic3r_config_bundle.ini ...

[2017-06-25 19:19] natdan commented on #14
@nebbian it works now. Problem was in passing all original arguments to Cura - not one with .slicer.gcode. All is fine now. We are ready to try to add 'pre' and 'post' scripts into the flow! :)

[2017-06-26 00:09] nebbian commented on #6
@natdan I thought that we didn't need the perl script at all any more?  I'm certainly not using it.  So this means that the perl script can be removed, and also any references to it.  It can be removed from the slic3r_config_bundle.ini as far as I am concerned.  This might mean a bit less work :)

[2017-06-26 07:05] natdan commented on #6
Oh, ... I see. My bad. I'll remove it from the config file.

[2017-06-26 10:21] Benraay commented on #6
Exactly the perl script was doing the postprocess, it was not visible in the code because it was linked in the Slic3r advanced settings, maybe we need to update these settings and remove any reference to the script.

[2017-06-26 19:08] natdan commented on #6
I've removed perl script from the branch and update both jar files. Feel free to install all from the 'scratch' and see if it works :)

[2017-06-27 00:23] Benraay commented on #6
works for me !

[2017-06-27 00:33] Benraay commented on #6
I just added Cura 2.5 support and spend some time to find good parameters, but it looks like the Extrusion values are too low, with Slic3r it's around 0,25 mm and with Cura they are about the half 0,16 mm.
this needs some more tests.
also Cura is freezing sometimes when launched with java I don't know why, also there is no parameter to specify the output gcode name !

[2017-06-27 01:33] nebbian commented on #6
@Benraay, check the filament diameter.  For some reason AM expects a filament diameter of 1.18 or something ridiculous.  This means you need to set the filament diameter in Cura to 1.18 and yhen you'll get the right extrusion rate.  Check the print profile sent from AM for the exact number.

[2017-06-27 03:45] nebbian commented on #6
Sorry, the required filament diameter is 1.128mm.  Check the .roboxprofile files.  Why it's set to that baffles me, but it's required for good extrusion.

[2017-06-27 07:05] natdan commented on #6
Shell we slowly wrap it up and move this to main branch? That way we would be able to work on improvements in separate branches and create PRs...

[2017-06-27 07:12] nebbian commented on #6
Definitely.

I think that for now we should put a freeze on new features, and just get what we’ve got reliable for newbies.

Items that might need attention before going live:

- How does upgrading work?  If someone is to upgrade later on, will all the right files get upgraded?
- What is required to switch from the old methods (perl postprocessing script) to the new methods (java)?
- How easy is i

[2017-06-27 07:15] natdan commented on #6
@nebbian :+1:
One further thing we can immediately start investigating is making it work on Windows. There are so many people with Windows machines it would be shame lock them out. Oh, and someone needs to write up big disclaimer + licence for the first page of installer. I'm going to add it to installer (in a style of an wizard) - but I'll let one of you guys write up the text! ;)

[2017-06-28 19:00] Benraay commented on #6
Sorry for the late answer, I was busy at work.
Yes I tried already to change the filament to 1.128 but it's still underextruded.

Like @natdan said it would be good to make a stable release on the work already done, It would take some time before the prints are ok with Cura 2.5

Maybe we should make some tests with the Slic3r original version to know if it's ok for now with that version also.

And

[2017-06-28 19:02] Benraay commented on #6
Is it possible to give a special path to the slicer if it's not installed in the usual place ?
It's specially more the case on PC

[2017-06-29 07:23] natdan commented on #6
@Benraay that was my thought as well. I'll do it as soon as we push this as working version.
Those small 'issues' can be, then tracked to their own github issue + branch + PR - much easier to handle. Similar goes with your Cura 2.5 stuff, extra scripts for pre/post processing, etc...
And Windows version, too.

[2017-06-30 14:01] nebbian commented on #14
Sorry Natdan, I totally missed your message there.  Excellent work!

[2017-06-30 14:01] #14 closed

[2017-06-30 14:04] nebbian opened #15 "Beta testers"
Hey @natdan and @Benraay,

Are we ready for beta testers yet?

For the record I've got no objections :)

[2017-06-30 14:06] natdan commented on #15
Lets do it. I'll remove all I added to my current AM installation and go through installation process and slicing. I suggest at least someone else does it as well. In the mean time I'll create PR from the branch...

[2017-06-30 14:08] nebbian commented on #8
I believe this issue is resolved for the moment.  I'm very happy with the new java code :)

[2017-06-30 14:08] #8 closed

[2017-06-30 14:10] nebbian commented on #7
Hey @natdan, just checking, the instructions up here are awesome, have they been put into the installation instructions markdown file?
If not I'll see if I can put them in.  I don't want them to be lost when this issue is closed.

[2017-06-30 14:10] Benraay commented on #8
for the moment it's working nice !

[2017-06-30 14:12] natdan commented on #7
I am sure I didn't! O: ) - if you can that would be really nice :)

[2017-06-30 14:36] nebbian commented on #7
Done.
https://github.com/nebbian/RoboxSlicerExtension/commit/9648b126b3d8372e31f2453493349d218dbe4ae6

Thanks for the amazing work you did here!

[2017-06-30 14:36] #7 closed

[2017-06-30 14:47] nebbian commented on #3
Thanks for the discussion guys.  I think we've ended up with a beauty!

[2017-06-30 14:47] #3 closed

[2017-06-30 14:53] nebbian commented on #6
This branch has been merged with master.

[2017-06-30 14:53] #6 closed

[2017-06-30 14:55] nebbian opened #18 "Windows Compatibility"
Is anyone able to test the windows compatibility of this code?

I'm unable to, there aren't any windows machines in my house.  Even my VMs are way out of date.

[2017-06-30 15:10] Benraay commented on #18
Good choice having only Mac's in house !!

I have a Virtualbox but have not tried to connect the Robox inside the VM I tried this already with a usb key and it's a bit complicated to forward the USB to the virtual machine.
I can look if the process is ok when installing.

I also have a the PC of my girlfriend but it's an old Windows XP does AM work on XP ?

[2017-06-30 15:27] natdan commented on #18
I know that the code as it stands won't work on Windows. There are a few issues there for it to work as is. But, I don't mind installing AM on Winodws and add the compatibility for it. I'll set up separate branch and do it as one of the next tasks. Issue (git hub issue - this URL here) is perfect place to record problems, progress, etc...

[2017-06-30 15:30] natdan commented on #18
Judging by this https://stackoverflow.com/questions/44401911/window-xp-and-java-8 AM might not be able to work on XP. Luckily I have Win2008 and Windows7 - which are perfect low versions of both to test it on (under VMware(*) of course)

(*) - VMware as I happen to have one (3+ years ago I was forced to get one for project we worked on, but VirtualBox should be just fine, too)

[2017-06-30 15:49] nebbian commented on #12
Hey @natdan I just got the following text from Pete at CEL.  He has approved this text to go up in the installer.

[2017-06-30 15:54] Benraay commented on #18
I have the virtual box for my work also the only point is getting the USB forward to the virtualbox I will make some tests If I get the time I'm busy with my work these days

[2017-06-30 20:11] 24c commented on #12
Hi, I'm trying to install this on my Mac, and I don't have a JDK on my Mac, just the default Java that comes with Automaker that's within the CEL folder, so I assume I need to download a fresh copy of Java to get this to work.

From Terminal...

 **java -jar robox-extensions-installer.jar
No Java runtime present, requesting install.**

[2017-06-30 20:17] natdan commented on #12
you can always cheat and use AM's java:
[code]
given that you've installed AM in /Applications/CEL dir.

It makes sense creating standalone installers in the future (separate for Mac/Linux and Windows).

[2017-06-30 20:33] 24c commented on #12
Yes AM's Java is in the default location, but I still get this, so I assume installer.jar isn't in the right place..

**$ /Applications/CEL/AutoMaker/java/bin/java -jar robox-extensions-installer.jar
Error: Unable to access jarfile robox-extensions-installer.jar**

[2017-06-30 20:42] natdan commented on #12
You're close. Where did you download robox-extensinos-installer.jar? You should point to that file - maybe ~/Downloads/robox-extensions-installer.jar?

[2017-06-30 20:46] 24c commented on #12
That's where it is and was, but I downloaded the JDK, and it's done i's stuff. I tried Get Info, and alter Open With, but it wouldn't recognise the Java within the CEL folder, permission denied etc....
Thanks for your help, just looking at Automaker now, and checking where stuff has gone. :)

[2017-06-30 21:07] 24c commented on #12
Hi
I downloaded the JDK, let it do its stuff, and now “slicing is failed” when I ask AM to make
LMAO
Mike

[2017-07-01 08:55] natdan commented on #12
Huh - I might need more info to help you with that! O: ) Did you fix it?

To revert everything to what it was (before installation) all you need to do is to delete /Applications/CEL/Common/Cura/CuraEngine and rename /Applications/CEL/Common/Cura/CuraEngine_orig back to /Applications/CEL/Common/Cura/CuraEngine. That should make AM behave as before.

As for running it with Slic3r, you need Slic3r in

[2017-07-01 20:12] 24c commented on #12
I fixed it by uninstalling AM and reinstalling. :)

I will try again, but need to get a few models out for somebody, so I’ll have to pass for a few days. I guessed you’d need more information, but you’ve given me some pointers for a fix.
Slic3r was just a .dmg file, and was not installed in Applications, yesterday, but it is now. :o

I will keep plugging away at this, so I apologise in advance for

[2017-07-01 22:25] 24c commented on #12
Where does "/CEL Robox.slicerextension.config" exist? somewhere in the CEL folder...??

[2017-07-02 11:23] natdan commented on #12
Ops: ```~/CEL Robox/.slicerextension.config``` is correct path. If not there this code should just revert back to existing default Cura that is supplied with AM. Apparently it might not have done it (hence error you're seeing). That's something definitively to look at as a bug! :)

[2017-07-02 11:44] 24c commented on #12
Should it not be ~/Documents/CEL Robox/.slicerextension.config. ?

[2017-07-02 11:49] natdan commented on #12
Do you have directory called ~/Documents/CEL Robox? On my mac it is in ~/CEL Robox.

[2017-07-02 11:54] 24c commented on #12
I have both for some reason. :)

[2017-07-02 12:23] natdan commented on #12
I suspect only the home dir one is correct.

[2017-07-02 12:25] 24c commented on #12
Anyway, I'm just doing a print, but I have the files in place now in the ~/CEL Robox/ folder, using the following in Terminal

**touch ~/.slicerextension.config
echo "{"slicer": "Slic3r"}" >> ~/.slicerextension.config**

Hopefully, I've done that bit right... :)

[2017-07-02 12:28] natdan commented on #12
:) That will do just as well.

BTW you could have done it with only one '>' and drop touch:
[code]
and it would have done the same!

[2017-07-02 12:33] 24c commented on #12
Well that's good to know, like I said I'd be making some "numpty" steps. What's interesting, the first CEL Robox folder was created in November 2016, possibly the first AM install? v2, and maybe the other is v3... I don't know. :) The one in the Documents is the last opened etc, with the latest print jobs in it :?
Thanks for the enforced new learning & responses. In 1hr:34 I'll try again when this

[2017-07-04 09:03] 24c commented on #12
Sorry natdan this is coming up with "Slicing failed" when I try and make in AM..it's tied to the modded "Cura Engine", because it's not opening "Slic3r"

[2017-07-04 09:15] natdan commented on #12
I'll add more log statements - but in the mean time if you have file ```~/CEL Robox/robox-slicer-extension.log``` could you, please share it here?

[2017-07-04 09:25] 24c commented on #12
Hi again natdan, I noticed previously there was a dash or hyphen added to Slic3r.app, so it became “Slic3r-.app”, so I renamed it, and I am still getting this error. Is it because I have a JDK kit installed on my iMac?

09:59:16.953 INFO    [java.util.logging.LogManager$RootLogger log] Started robox slicer extension
09:59:16.956 FINE    [com.roboxing.slicerextension.flow.Arguments process] Invoked

[2017-07-04 09:30] natdan commented on #12
Cool. That's exactly what you said - Slic3r is not in /Applications. Did you get chance to drag it from dmg to /Applications folder yet? And what version of it did you 'install'?

I think if you make sure it is there (/Applications dir) and named Slic3r then it should work. In the mean time (and at, I think, @nebbian request) I'll add selecting Slic3r path to 'configuration' (currently called cont

[2017-07-04 09:31] 24c commented on #12
OK, getting somewhere, it turns out if I show  Package Contents of the Slic3r.app, and go down the folders, "Slic3r" is called"Slic3r-", so I've renamed this, and the Slic3r window opens, like the video, but I get an error. I was using the "torture_little_test.stl"
![screen shot 2017-07-04 at 10 30 10](https://user-images.githubusercontent.com/29804537/27824307-ec487b76-60a3-11e7-8205-14b0217b353a

[2017-07-04 09:33] 24c commented on #12
so OK'd this and now this...my file format in't "Untitled-hhmmss-ddmmyy", so I will just try another A
![screen shot 2017-07-04 at 10 32 11](https://user-images.githubusercontent.com/29804537/27824383-3a87646e-60a4-11e7-8ba2-50fed9abd1ff.png)
dd model

[2017-07-04 09:35] natdan commented on #12
What version of Slic3r do you have? Mine is 1.2.9

[2017-07-04 09:40] 24c commented on #12
OK, getting similar errors elsewhere now using a fresh Add Model
![screen shot 2017-07-04 at 10 35 12](https://user-images.githubusercontent.com/29804537/27824496-96833aa4-60a4-11e7-9d0d-eeb70c3c52e3.png)
The Prusa one off your links, Slic3r 1.35.5
![screen shot 2017-07-04 at 10 39 33](https://user-images.githubusercontent.com/29804537/27824668-220031c2-60a5-11e7-99b4-c4ae6bf87a1d.png)

[2017-07-04 09:43] natdan commented on #12
It seems that I'll need fresher version of it to give it a go. @Benraay and @nebbian - what was the version you installed?
@24c - is it possible you to fetch this older version first and give it a go instead of prusa's?

[2017-07-04 09:50] 24c commented on #12
Yes, I will...I see there is a newer version 1.3.0(dev) that is recommended now too.
Just tried 1.2.9 and it's working bud... yippee and well smart guys. (y)
I'll try 1.3.0 too in a moment
![screen shot 2017-07-04 at 10 49 41](https://user-images.githubusercontent.com/29804537/27825162-8ee5ae7e-60a6-11e7-92e1-c4b8c0749bdd.png)

[2017-07-04 09:52] 24c commented on #12
Of course I must point this version of slic3r to the Robox printer again! :)
BTW, it took a long time to process and transfer the slice of the @nebbian little box, and a load of errors popped up that I OK'd.
I have TextWrangler :) and thanks for that. Shame we can't use the Robox Preferences>Prnting "Slicer Type: "  Input box with a dropdown for Slic3r.
Thanks for your help though, its printing OK

[2017-07-04 09:56] natdan commented on #12
yes - that's true. Also, if you want to continue using robox in 'standard' way - you should amend ```~/CEL Robox/.slicerextension.config```
to have
[code]
BTW - you can always use TextWrangler (or such) to edit that file! :)

[2017-07-04 10:13] 24c commented on #12
I think the errors I was just getting using 1.2.9 are because the ~Applications/CEL/Common?Slic3r/Config/Robox_slic3r_config_bundle.ini was for the later version...
![screen shot 2017-07-04 at 11 07 02](https://user-images.githubusercontent.com/29804537/27826105-ca864936-60a9-11e7-813b-6a45db35cdd3.png)
Maybe this is the version that the other guys are using?

[2017-07-04 10:36] 24c commented on #12
Just for info guys, I tried to download the other version aka Prusa v1.34.1, but there is only 1.35.1 available. I just tried it as an experiment, and everything works fine, except it seems to hang when slicing after exporting the G-code, and saving the file. It is saved, just won't go to the next step, so if you Close Slic3r, you get this error message...
![screen shot 2017-07-04 at 11 33 31](htt

[2017-07-04 18:20] 24c commented on #12
@natdan the latest Prusa version of Slic3r works fine, you just have to open it first and get past the macOS verification when you drag it into the ~/Applications folder. Then it will open within AM without hiccups. :)
![marvin_vlh-test](https://user-images.githubusercontent.com/29804537/27840010-896d717e-60ed-11e7-81ba-99218dae0024.png)

[2017-07-04 18:59] natdan commented on #12
@24c it makes perfect sense. Thanks! I would completely missed it. I'm glad you've got around it. Next time it is going to be first question if someone's stuff is not working! :)

[2017-07-05 07:20] 24c commented on #12
@natdan For some odd reason, slicing was failing this morning and the logs pointed to some exception re folder names in the Print Jobs folder IIRC, but to get going I've gone back to OEM Cura, as I need to get a model out.
 Just for info editing the hidden ~/CEL Robox/.slicerextension.config text to **{"slicer": "DefaultAMCura"}** didn't revert back to the default slicer, as Automaker just hung in

[2017-07-05 07:24] natdan commented on #12
Hm. Something is quite odd in all of it. Could you, please, paste log file in here again?
```~/CEL Robox/robox-slicer-extension.log```

[2017-07-05 07:42] 24c commented on #12
08:10:07.849 INFO    [java.util.logging.LogManager$RootLogger log] Started robox slicer extension
08:10:07.852 FINE    [com.roboxing.slicerextension.flow.Arguments process] Invoked with arguments:
08:10:07.853 FINE    [com.roboxing.slicerextension.flow.Arguments process]   -v
08:10:07.853 FINE    [com.roboxing.slicerextension.flow.Arguments process]   -p
08:10:07.853 FINE    [com.roboxing.slicerex

[2017-07-05 07:43] 24c commented on #12
That was the one that didn't work AFAIK. the only thing I did notice with the model layout this time that I have never seen before was that it would work out a cost for the draft print mode, and then be "working" on all the others. When I reverted back to OEM slicer, it calculated the costs OK for all print modes/qualities. Almost if the slicing/volume info wasn't getting to where it needed to be.

[2017-07-05 07:46] natdan commented on #12
@24c thanks. Looking into those I cannot see any issues. Only thing that's left is for me to try to reproduce it! O: )

[2017-07-05 07:47] 24c commented on #12
OK, well I'm tied to this model for 6hr:15, so you're on your own. Odd it was working OK last night, and not this morning. :)

[2017-07-05 07:49] natdan commented on #12
Probably different model? Or something else subtly different from then. If you remember what it might be (the difference) do let me know...
BTW thanks for all the testing! You must be quite patient to endure all of this! ;)

[2017-07-05 07:50] nebbian commented on #12
If you can post the model, or some more clues, then we might be able to replicate it.  Right now it's working for every model that I can throw at my setup, so it's hard to fix.

[2017-07-05 07:51] nebbian commented on #12
Hang on... you're slicing multiple models on the one plate aren't you?

[2017-07-05 07:52] nebbian commented on #12
https://github.com/prusa3d/Slic3r/issues/313

[2017-07-05 07:54] 24c commented on #12
@natdan I will revert back later and do some more tests, but I'm happy that it can work as I really need variable layer height, and it'll be interesting to see what else happens with this in the future. I'm a good "numty" tester. :D  @nebbian I can't post the model here, maybe email it to you guys, as it's not mine to chuck around in public. No I'm not, I read about that re Prusa slicer, I made a

[2017-07-05 07:55] nebbian commented on #12
These lines in your log suggest that you're slicing multiple models:
`08:10:07.858 FINER [com.roboxing.slicerextension.flow.Arguments process] Argument : Normal-0.stl
08:10:07.858 FINER [com.roboxing.slicerextension.flow.Arguments process] Argument : Normal-1.stl
08:10:07.858 FINER [com.roboxing.slicerextension.flow.Arguments process] Argument : Normal-2.stl
08:10:07.859 FINER [com.roboxing.slicer

[2017-07-05 07:56] natdan commented on #12
@24c you've got my e-mail - you can always send it there. Only thing is that I cannot do anything right now, nor today :(

[2017-07-05 08:02] 24c commented on #12
That's odd @nebbian I'll take your word for it as not seen 1.stl 2.stl etc in a log file before, so that might explain why the costs etc couldn't be calculated. I inherited the model, and it's got text stencilled through it, I wonder if the middle bits of the "B" & "R" are these extraneous bits...that's the only difference I can see, because R,B,R & B are being printed, which is six isolated middl

[2017-07-05 08:20] natdan commented on #12
You might have duplicated same model 6 times (seven instances printed at the same time)?

[2017-07-05 08:23] 24c commented on #12
@natdan Unless there are seven instances in the Print Jobs folder! I'll check in a moment, but there is only one model in Automaker, not multiples of this laid onto of each other. I'm daft, but not usually that daft. :)
UPDATE. I've just checked, and I was right, it's the guys damn capital letters he's punched through the model. I reckon if, I delete 1.stl-5.stl, then 6.stl (main model) would slic

[2017-07-05 08:26] natdan commented on #12
LOL - maybe there were seven of them for the log you pasted here. Or somehow model is made of 7 parts (no idea how would that be possible).

[2017-07-05 08:29] 24c commented on #12
LMAO too, it was the middles of the capital B's & R's in his logo cum text he was using for the branding. I selected the part and added it to some others to make an homogeneous part, but he must have not grouped these characters as part of that, or my CAD import for a DWG format has a bug in how it sees this type of model. Either way, I know what it is now...and I have learnt something else, thank

[2017-07-07 14:51] nebbian commented on #18
I've gotten the USB connection working.  You need to enable USB 2, and tell VirtualBox to grab the USB connection before the mac does.  Enabling USB 2 requires installing an extension pack.

Screenshot attached.
![screen shot 2017-07-07 at 22 49](https://user-images.githubusercontent.com/489642/27963170-c0450b82-6366-11e7-97e1-f9af244a0aad.png)

[2017-07-07 16:47] 24c commented on #18
@natdan & others, AutoMaker works fine with Windows 8.1 using Parallels 12 on my iMac, and transferred via USB no issues.
![screen shot 2017-07-07 at 17 45 31](https://user-images.githubusercontent.com/29804537/27967780-41268166-633c-11e7-8006-42702b432fd5.png)

[2017-07-07 18:18] 24c commented on #18
![slicer-8_1-robox-dual](https://user-images.githubusercontent.com/29804537/27971022-0f4d4f64-6349-11e7-8b70-8adadbe87cc4.png)
I also created a Slic3r folder in my Program Files folder, and extracted the Prusa Edition into that, cut and pasted the Slic3r folder containing the Robox_slic3r_config_bundle from the iMac into the Common>Cura>Slic3r>Config directory. I then opened Sic3r and did a File>L

[2017-07-08 22:52] Benraay commented on #18
good point for the USB2 tip it was working for me.

I have good news I got it working with the c++ thing now all the parameters are sent to the java flow but I got a new bug

        at sun.nio.fs.WindowsException.translateToIOException(WindowsException.j
ava:79)
        at sun.nio.fs.WindowsException.rethrowAsIOException(WindowsException.jav
a:97)
        at sun.nio.fs.WindowsException.rethrowAsI

[2017-07-08 23:30] Benraay commented on #18
Ok I found this one, the path to the folders were not the good ones in the flow jar.

But now I have another issue it's freezing when calling the defaultAmCura.
If I look to the task manager CuraEngine_orig.exe is running and CuraEngine.exe also.
it looks normal but the slicing should stop and go to next step but it stays there.

and I need to kill CuraEngine_orig.exe to come back to AM and it say

[2017-07-08 23:35] Benraay commented on #18
Just forgot a thing on the installer on windows we need to copy the "windows%20scripts/CuraEngine.exe" instead of the "shell%20scripts/CuraEngine"

[2017-07-08 23:36] Benraay commented on #18
also the path to Slic3r needs to be given by people and used in the java code for now it's always calling the mac one

[2017-07-09 08:07] 24c commented on #12
_Hi guys, I seem to get the occasional slicing files fail repeating in a cycle, where Slic3r just briefly flashes, after an AutoMaker Make command, and it's not an additional STL file this time, which does the same thing with the Slic3r PE 1.35. Log file if it means something..._

UPDATE It was an additional STL in the  file in the model, I saw it by opening the Print Jobs folder, and there was an

[2017-07-10 13:19] natdan opened #19 "Use AM settings"
... to start with when using known slicers (i.e. Slic3r). It would need an controller which would be invoked before invoking a slicer and it will in turn read AM details (from wherever they are stored - probably Cura's format and transfer them to target slicer's config file.

For example: before Slic3r is invoked, read ~/CEL Robox/PrintJobs/<jobid>/<jobid>.roboxprofile and produce slic3r.ini file

[2017-07-10 13:27] nebbian commented on #19
@natdan, just a point of order, the material details ARE preserved (at least the temperatures are, I haven't tested the extrusion multiplier, but I think it would be preserved).  That's part of the magic of using the Robox postprocessor.  It sets the temperatures to whatever is on the smartreel.

I totally agree that we should parse the .roboxprofile and put as much as possible into the command li

[2017-07-10 13:33] natdan commented on #19
Actually you are right regarding temperature - it is set in gcode pre and post scripts added to the sliced gcode. Unless temperature (and head speeds!) do have any influence to resulted gcode from selected slicer.

[2017-07-10 14:21] 24c commented on #19
Guys, just out of curiosity, I looked at one of my PrintJob files, and there is a **.gcode**, **.slicer.gcode** & a **.robox.gcode**. I take it the **.robox.gcode** is the version that AM is using in the end? I only ask because my AM temperatures for my filaments are different to the Slic3r ones I imported into Slic3r when I first installed using the config bundle. AM is reporting the AM  temperat

[2017-07-10 14:39] nebbian commented on #19
@24c, as I mentioned above, the temperatures that get used for printing are the ones that you set in AutoMaker, not Slic3r.  This is done by the postprocessor.

[2017-07-10 14:47] 24c commented on #19
@nebbian, OK, I just looked anyway :)  ...but this is a good thing isn't it?, as you can't damage things.

 I've already seen so far that the support, solid layers etc and infills are all driven by the Slic3r settings, which is pretty cool, as when you Preview the layer, you see how it is going to be made, and these things being implemented. There are a lot of check boxes in Slic3r PE, and I don't

[2017-07-10 21:15] 24c commented on #12
@nebbian You remember that multiple part issue with OSX & Slic3r PE, and the Prusa guy couldn't repeat it in Windows, and suggested it was a wxWidget or Perl related.
Have you seen this?
https://github.com/alexrj/Slic3r/wiki/Building-wxWidgets-3.1.0.

[2017-07-11 07:28] natdan commented on #18
I am sorry that I couldn't do much last weekend - events took different turn to what I expected so didn't get chance to do much. Anyway - this morning I did something which is going to fit in a gap we have for Windows:
[code]
And result:
[code]
This is quite close. Need to add invoking another executable (AM java with our jar) and we're at last leg of Windows compatibility! :) Maybe today's luncht

[2017-07-11 08:24] natdan opened #20 "Add path to Slic3r in config window"
As title said. Just a reminder.
It would be nice for it to be shown in UI only when Slic3r is selected, to default to platform specific path and at the end it had to be stored in slic3r specific path (json file).

[2017-07-11 08:26] natdan commented on #18
@Benraay  - make another entry (a bug?) here for founds like those. It is much easier to do atomic changes when stressed with time (i.e. me :) )

BTW I have CuraEngine.exe now calling AM's java :)

[2017-07-11 10:50] 24c commented on #18
_BTW I have CuraEngine.exe now calling AM's java :)_
That's good, I'd really like to test the Windows version using multiple parts in Slic3r, as it doesn't fail like macOS apparently. (y)

[2017-07-11 14:23] nebbian commented on #12
@24c, it looks like the multiple parts issue has been resolved (just have to wait for the next release): https://github.com/prusa3d/Slic3r/issues/313#issuecomment-314449964

[2017-07-11 14:27] 24c commented on #12
Yes, that's great... and I'll testing it out. Thanks for the update, as I wasn't subscribed to that thread. Fingers crossed, never really wanted to use Windows for this on my iMac. :)

[2017-07-11 21:08] natdan commented on #18
OK - I wasted whole evening trying to get my Robox over network working with windows AM. Currently I don't understand why jssc is not called with my 'network serial' port details... Eh.

Anyway, I've committed some windows stuff in 'Windows-Playground' branch. Over there you can find CuraEngine.exe (https://github.com/nebbian/RoboxSlicerExtension/blob/Windows-Playground/windows/CuraEngine/CuraEngi

[2017-07-11 21:55] 24c commented on #18
@natdan, probably sick of this, but does mean anything...
![screen shot 2017-07-11 at 22 52 50](https://user-images.githubusercontent.com/29804537/28092627-0fde15da-668c-11e7-809b-149cd3117044.png)

[2017-07-11 22:13] 24c commented on #18
OK @natdan got past that one, but I'm failing after importing a STL, this time the Robox robot. When I click on layout, it doesn't calculate the times, and says "Failed"...however it will try and do something if you click on "Make", the printer kicks in, and as expected slicing fails. I think it needs to know where the Projects folder is, so I've done something daft... :/

[2017-07-11 22:47] 24c commented on #18
almost there, and I can get the original Automaker_exe to run OK, and slice to  print, but not sure I am pointing to the Projects folder on Windows, as it fails hitting Settings still. It hasn't asked me to find this either...I remember seeing a script to do this..sorry if I am being thick.

error details
Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	CuraEngine.exe
  Applic

[2017-07-11 22:54] 24c commented on #18
OK, I pointed to the CEL Robox folder in Windows using Powershell to run the script.. :doh, but I am still getting that MSVCP140D.dll error, with CuraEngine.exe has stopped working...

[2017-07-11 23:16] 24c commented on #18
I'm wondering if I need Visual Studio on my Windows set up, as it doesn't come by default with Parallels 12, it did on previous version but they've messed around with things since they brought out a subscription model a few years back. Downloading now, but I've also reinstalled the original Automaker, as that's what others (google) were saying was the best way to get this dll up and in the system.

[2017-07-12 01:38] 24c commented on #18
Installed both 32 & 64 bit Visual Studio 2015 Runtimes, as suggested by others...diddly squat same error creeping in. Delete or Rename CuraEngine.exe (155kB) version, and no error seen...not sure, time for bed

[2017-07-12 05:55] Benraay commented on #18
Did the c++ not call the right thing ?
I need a bit time to fix and when I looked to your code I maybe found the bug I probably need to simply exit the progra at the end,
I will give it a try tonight.

Also I did'nt use c# because most of the time you need .net framework and other dll's this is a bit heavy for just giving arguments to Java.

But why not.

@24c if you want to make some tests coding

[2017-07-12 05:59] Benraay commented on #18
Also you can find the c++ source code here
https://github.com/nebbian/RoboxSlicerExtension/tree/master/windows%20scripts/Source%20C%2B%2B

Maybe it's possible to compile with command line but you need visual studio community edition a least.

[2017-07-12 07:14] natdan commented on #18
@Benraay doh - I am sorry... I was out of the loop for so long. Sorry for the confusion :(
I suspect your c++ code is, then, the right way forward.

[2017-07-12 10:58] 24c commented on #18
I have tried to install Visual Studio Community on my Parallels Windows 8.1 VM, and it's not liking it for some reason, but as I live in the stick downloads are more problematic and slow here. I will revisit this later, as I need to do a few prints right now. Also tried 2015 x86 64 versions too... :/

Got close to doing something with the .sln, and then it bailed out in VSC 2017.

[2017-07-12 11:00] Benraay commented on #18
I used VSC 2017 in virtualbox

[2017-07-12 11:17] natdan commented on #18
I'll delete the branch - my apologies again.

And on that note - I don't think we should commit directly to the master, ever. That's why branches are there and PR. Had I been aware of changes (PRs) I might have not rushed doing what was already done! O: ) (I know - excuses, excuses)

Is it OK for all changes we want to do - just to make a branch and make a PR from the branch? Doesn't matter who is

[2017-07-12 11:23] Benraay commented on #18
Ok sorry for that I will make a branch and PR it to the master when stable

[2017-07-12 11:24] nebbian commented on #18
Thanks for bringing this up @natdan.
All changes should be done in their own branch, then a quick pull request and approval.
Committing directly to master is not really the best way to do things 😀

[2017-07-15 14:05] nebbian commented on #18
OK I've had a go at getting the windows code to run, and I'm stuck at the first hurdle.  The installer quits after flashing up a message saying that "The system cannot find the path specified".
Any ideas?

[2017-07-15 14:41] nebbian commented on #18
Never mind, it turns out to be due to Windows not handling the fact that I'm running a file as administrator, from a shared folder.  Gosh.  Copying the folder to C: made it work.  Far out my opinion of Windows hasn't changed much over the years.

[2017-07-15 19:43] Benraay commented on #18
I switched to mac about 6 years ago and never wanted to go back to windows

[2017-07-15 19:47] Benraay commented on #18
Sorry It was a bit out of purpose.

I'm on holidays without printer for two weeks so it's difficult for me to help until I come back.

When I come back I will try to fix the windows freeze on the arguments passing app

[2017-07-15 21:11] 24c commented on #18
@benraay @nebbian Hopefully by then the macOS multi part Slic3r aka the debugged version will be on the streets. ;)
Off topic, I've used Apple stuff since just after Xerox Star, but I couldn't afford one until the 1990s. Does everything I need, and I when it can't I can use Linux & Windows flavours using Parallels for the obscure engine software and 3D scanner. Definitely getting consistently bett

[2017-07-16 03:17] nebbian commented on #18
Hey @Benraay, can you describe what you think is happening please?
Also do you have an open source toolset to compile your C++ code?

[2017-07-16 03:32] nebbian commented on #18
@natdan, I tried to have a look at your Program.cs file, but as the branch is deleted I can't see it.  I'm a bit uncomfortable having to install Microsoft Visual Studio and all of that malarky just to tinker with a simple file that calls a java program.

[2017-07-16 21:01] Benraay commented on #18
I agree installing Visual Studio is a pain it takes a lot of time and space but when it's done it works very well.
(I had already Visual studio installed on my virtualbox )
I guess you can compile the code with gcc
But in some tutorials they said you need at least Visual c++ to compile the thing.
Sorry I did'nt try it.
But maybe the gcc compiler is the open source one.

[2017-07-17 07:12] natdan commented on #18
@nebbian I don't mind reinstating branch - but I am not insisting doing anything on it as @Benraay 's is already there. I originally picked C# as it is (supposedly) simpler to do simple things like this than C++ - and easier to understand.

BTW I was just out of luck - finally got some time on Saturday morning, sat on my computer and decided to start long print (4.5h) first and then look at where

[2017-07-17 07:20] natdan commented on #18
@Benraay _"I switched to mac about 6 years ago and never wanted to go back to windows"_ I now it is a bit of a tangent but I am 100% with you there. I've stopped using windows around 2003/4 when my freshly installed Windows (offline) + Northon antivirus (installed offline) and then all updated to the latest as first online stuff, decided to boot (from switched off!) on its own after I shut it down

[2017-07-17 16:59] 24c commented on #12
Guys, Prusa Slic3r v1.36 has been added, and just tried it with a simple two part STL files, as well as a "Duplicate" object, and now Automaker is falling over, but at least the Slic3r is opening multipart files

![screen shot 2017-07-17 at 17 34 42](https://user-images.githubusercontent.com/29804537/28279836-abba3e98-6b19-11e7-82f5-6c8891d0d325.png)

![screen shot 2017-07-17 at 17 35 01](https://

[2017-07-18 14:12] nebbian opened #23 "Updating the java binaries"
Hey @natdan,
What's the best way to ensure that the java binaries are kept updated?

Do we manually recompile when the source code changes?

[2017-07-18 14:22] nebbian commented on #18
@Benraay is there any chance that you could write a simple C++ wrapper that then calls a batch file with the same arguments that were passed from AM?  I'm keen to have a crack at sorting this out, but the lack of a compiler is really hurting me.  I did find an .exe online that should call a batch file of the same name, and it worked when called via the CLI, but didn't work when called from AM.

To

[2017-07-18 14:33] Benraay commented on #18
yes and it's easy to do with a batch I had it working already, I will try
this tonight but I don't have the printer with me, I will send you the exe
for testing with the printer

[2017-07-18 14:35] nebbian commented on #18
Thanks, much appreciated.

[2017-07-18 14:49] natdan commented on #23
Good question. I was thinking about it myself. Having CI + maven repository would be the best way forward. I can pride maven repository and we can source snapshot + release versions from them. CI is slightly different story as I am not sure I would like to run it on my servers (not that much about running as much about maintaining it).

If we exclude ideal scenario (CI like Jenkins + Maven repo li

[2017-07-18 22:13] Benraay commented on #18
Sorry for the master push but I had no time to make a branch.
I hope you will find a way but I have the same "CuraEngine_exe.exe" locked in the  task manager.
maybe something is going wrong when sending parameters need to add some logs around to find out the bug.

you can find in  https://github.com/nebbian/RoboxSlicerExtension/tree/master/windows%20scripts/exe2CmdCall
the exe calling the cmd file

[2017-07-19 07:23] natdan commented on #18
@Benraay I've got a small request if you don't mind. Is it OK us not to call CuraEngine_exe (or CuraEngine_exe.exe) original batch/executable but CuraEngine_orig/CuraEngine_orig.exe or anything that indicates it is original file?

[2017-07-19 07:28] natdan commented on #18
@Benraay I've just checked the .cmd file and there's a pause command at the end. I suspect we need something like that but wouldn't that cause issues in the long run?
Also, @nebbian what about stdout from Cura (Cura -> Java -> Batch file -> .exe wrapper)? Do we need to worry about it at all? Does AM use stdout from invoked Cura in any way?

Both: I know we're just experimenting and everything goes

[2017-07-19 07:45] Benraay commented on #18
@natdan right it is CuraEngine_orig.exe sorry.

the pause is not needed I forgot commenting it out, it was to have error message visible and test purpose.

but you pointed out the thing that maybe goes wrong, i'm not so aware about threads and how processes are working one after the other but something goes wrong here.
I have not read the Robox source code to look how the ask curaEngine.

[2017-07-19 07:52] natdan commented on #18
@Benraay I am here just to ask questions even though answers may disprove them. :)

It is worth using (sending) CTRL-ALT-DEL and invoking task manager and have a quick peek into what you can see of processes there. When I stupidly invoked itself (in my first versions of CuraEngine) I saw hundreds of processes hanging and no good way of removing them in bulk - needed to restart VM.

BTW Pull reques

[2017-07-19 07:57] Benraay commented on #18
I totally agree with the pull request I will do it for the next push

[2017-07-19 14:42] nebbian commented on #18
I've just spent a couple of hours in dll-hell.  The issue here is that the executables produced by @Benraay need some extra dll's to run, which aren't in windows by default.  I've tried adding those DLL's to the Cura folder, but then end up with the error: "The application was unable to start correctly (0xc000007b). Click OK to close the application.".
This occurs with either the .exe that is supp

[2017-07-19 14:49] natdan commented on #18
LOL +1. I'll have a quick word with someone here if nothing else but regarding .exe file I've produced. I am sure simple 'get parameters and execute another program' shouldn't really rely on many DLL and such code should be embedded in same .exe. I know why it might not have been the case for my .exe - I've just supplied 'debug' version of it without any proper build.

I'll report here what I lear

[2017-07-19 17:36] Benraay commented on #18
Oops I did the same error it's a debug one
I will try to remove most dependencies

[2017-07-27 13:07] nebbian commented on #18
The java file has an issue, it tries to create a log file in C:\Users\[username]\CEL Robox.
This should be C:\Users\[username]\AppData\Roaming\CEL Robox

[2017-07-27 13:09] nebbian commented on #18
The java flow application is trying to run Cura Engine from C:\Program Files\CEL\CuraEngine_orig.exe, this should be C:\Program Files\CEL\Common\Cura\CuraEngine_orig.exe

[2017-07-27 13:13] 24c commented on #15
Has anybody used 1.36.0 and tried to do a two colour part?
I was trying to do a back to back comparison vs AutoMaker's default Cura in normal print mode, and I'm not managing it.
![screen shot 2017-07-27 at 14 12 33](https://user-images.githubusercontent.com/29804537/28671754-b097b3c8-72d5-11e7-9636-8f79a7b3cc08.png)
It's not my model, just a thingyverse road cone

[2017-07-28 14:54] nebbian opened #25 "Java Flow Windows commissioning"
I'm trying to get java-flow running on windows.  I've gotten java-control working, which is a good start.

I'm using this command:
`"c:/Program Files/CEL/AutoMaker/java/bin/java.exe" -jar "c:/Program Files/CEL/Common/robox-slicer-flow-1.0-SNAPSHOT.jar" "-v" "-p" "-c" "b341ca76876f4ed3.roboxprofile" "-o" "b341ca76876f4ed3.gcode" "C:\Users\IEUser\Documents\CEL Robox\PrintJobs\b341ca76876f4ed3\b341ca

[2017-07-31 04:59] nebbian commented on #18
Gosh.  Windows is just soooo clunky.  I keep getting errors to do with spaces in the command name (ie to do with C:\Program Files\etc), despite having escaped those commands with double quotes.
Here's where I'm up to now:
* The command to run slic3r is slic3r-console.exe, not slic3r.exe.  This doesn't return until the slic3r window has been closed.
* The slic3r command inside the java flow program

[2017-07-31 06:23] nebbian commented on #18
OK I've finally managed to get a print out of AM, using slic3r on Windows 10.  It wasn't easy.

I'll clean up the code a bit and post this in a new branch.  Some testing would be appreciated.

[2017-08-03 14:13] #25 closed

[2017-08-03 14:17] nebbian opened #29 "Windows installer issues"
After going through the code, it looks like the installer doesn't handle separate files for different OS's.

At least, I couldn't figure out where it would grab the current CuraEngine.exe from when installing on windows.

Contributing to this is the difficulty in testing an installer that always grabs files from the master branch...

Can someone (@natdan?) let me know how to modify the installer,

[2017-08-03 15:06] natdan commented on #29
I'll try to do some work tomorrow evening... I might have done it but failed to upload it :(

[2017-08-04 17:50] natdan commented on #29
OK. It should work now! :) I've split InstallationFile enum to Linux, OSX and Windows variants. Please give it a go - it should work now (at least it did on text run on my VM Windows - and host OSX :) )

[2017-08-05 07:57] nebbian commented on #29
Good stuff @natdan, much appreciated.  I just need confirmation on the CuraEngine.cmd file (ie it's not needed, so it shouldn't be in the installer), and I can then push this branch to master.  This should then let people on Windows try it out :)

[2017-08-05 16:15] #29 closed

[2017-08-05 16:16] nebbian commented on #18
OK it's ready for testing the whole kit and kaboodle.  I've merged the windows stuff to the master branch, this should work without too much fiddling around.
I'd like to see how it goes on a virgin windows system.
I'll open a new issue.

[2017-08-05 16:16] #18 closed

[2017-08-05 16:19] nebbian opened #30 "Windows beta testing"
I'd appreciate it if anyone who tries to get this working in Windows could post their experiences here.

I've gotten it working with a heavily doctored system, and am wondering how easy it is to get going on a normal windows install.

Try installing using the instructions in the README file, and post here how you go.

[2017-08-05 18:41] 24c commented on #30
OK guys, trying to get started on this for you, but failing at first hurdle...obviously Automaker is in Program files as is Slic3r, but "Robox-extensions-installer" goes where? On the Mac it's in the CEL folder within Applications, but I cannot get it to open using the cmd line...if you're a novice where should we start? Usually everything starts in the Downloads folder.

[2017-08-05 18:47] nebbian commented on #30
Perhaps something like:
"C:\Program Files\CEL\AutoMaker\java\bin\java.exe" -jar robox-extensions-installer.jar
might work?

[2017-08-05 18:48] nebbian commented on #30
I don't think that it matters where the Robox-extensions-installer goes.  Did you try double clicking the file "Robox-Windows launch Installer here.cmd"?

[2017-08-05 18:54] 24c commented on #30
Yes, and it wants to open with Internet Explorer or Visual Studio :/

[2017-08-05 18:55] 24c commented on #30
but if you double click "Robox-Windows launch installer here" something is happening.

[2017-08-05 19:03] 24c commented on #30
Something has happened, but Automaker is not responding past the Layout page, I cannot add a model, but have drag and dropped an STL file onto the bed, but by going back to the Status tab, I could shift to the Layout page, and then this...
![screen shot 2017-08-05 at 20 02 00](https://user-images.githubusercontent.com/29804537/28997982-1fcb958a-7a19-11e7-9a9e-0890f4c249c8.png)

[2017-08-05 19:03] 24c commented on #30
![screen shot 2017-08-05 at 20 03 36](https://user-images.githubusercontent.com/29804537/28997989-351d6c9c-7a19-11e7-9f78-111e257e4ca6.png)

[2017-08-05 19:05] 24c commented on #30
Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	CuraEngine.exe
  Application Version:	0.0.0.0
  Application Timestamp:	598016f5
  Fault Module Name:	libmingwex-0.dll
  Fault Module Version:	6.3.9600.18696
  Fault Module Timestamp:	5915ecd6
  Exception Code:	c0000135
  Exception Offset:	0009d4c2
  OS Version:	6.3.9600.2.0.0.256.48
  Locale ID:	2057
  Additional Information 1:

[2017-08-05 19:08] 24c commented on #30
Is this what the Cura folder should look like or have I got legacy stuff in here?
![screen shot 2017-08-05 at 20 06 57](https://user-images.githubusercontent.com/29804537/28998030-c7b5498a-7a19-11e7-84e7-e5c2e66912d6.png)

[2017-08-05 19:08] nebbian commented on #30
Gosh.  That's a substantial crash.  What version of windows do you have?

[2017-08-05 19:09] 24c commented on #30
Windows 8.1 on Parallels using the iMac

[2017-08-05 19:19] nebbian commented on #30
Hmmm.  I'm using Windows 10 on VirtualBox on a mac.

![screen shot 2017-08-06 at 3 12](https://user-images.githubusercontent.com/489642/28998097-c714b2d6-7a55-11e7-86c9-c19be1af0f76.png)

![screen shot 2017-08-06 at 3 13 1](https://user-images.githubusercontent.com/489642/28998105-ee9b0b20-7a55-11e7-8a2f-0dcbe73623c9.png)
![screen shot 2017-08-06 at 3 13](https://user-images.githubusercontent.com/

[2017-08-05 19:26] 24c commented on #30
Hmmm, not getting that far, cleaned up the Cura folder... and still got this

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	CuraEngine.exe.exe
  Application Version:	0.0.0.0
  Application Timestamp:	598016f5
  Fault Module Name:	libmingwex-0.dll
  Fault Module Version:	6.3.9600.18696
  Fault Module Timestamp:	5915ecd6
  Exception Code:	c0000135
  Exception Offset:	0009d4c2

[2017-08-05 19:33] 24c commented on #30
Does this make any sense,?

https://sourceforge.net/p/mingw/news/2017/02/mingwrt-50-and-w32api-50-snapshots-available/

[2017-08-05 19:49] 24c commented on #30
![screen shot 2017-08-05 at 20 47 03](https://user-images.githubusercontent.com/29804537/28998329-d27e63aa-7a1f-11e7-991c-e877940ec4ea.png)
If I do the usual renaming trick, AutoMaker calculates the print time, and will work as per normal, so there must be an issue somewhere. :/ Where should "Robox-slicer-flow-1.0-SNAPSHOT" live?

[2017-08-05 19:55] 24c commented on #30
revert back and problem is still there, time is stalled at "working"...
![screen shot 2017-08-05 at 20 54 22](https://user-images.githubusercontent.com/29804537/28998346-5421b8ee-7a20-11e7-9082-f19bc49f660d.png)

[2017-08-06 14:43] nebbian commented on #30
I've just uploaded a new CuraEngine.exe file, that is statically linked this time.  You can find it here:
https://github.com/nebbian/RoboxSlicerExtension/blob/master/windows%20scripts/CuraEngine.exe
(click "Download").  Give it a go, it appears to work on my Windows 7 VM.

[2017-08-06 14:45] nebbian commented on #30
@24c:

It should be in C:\Program Files\CEL\Common.

[2017-08-06 15:10] 24c commented on #30
OK, I've downloaded the latest version, and double clicked the .cmd file, and everything installed. It doesn't crash now, but neither does it slice either...it just bypasses this mode when you press Make, it queue etc, but doesn't print. I had to rename the slic3r PE, as it had a load of extra characters in the filename, but that still didn't resolve it. Going to download minnow and see if that's

[2017-08-07 02:23] nebbian commented on #30
Can you post the following files please?
C:\Users\[YOURUSERNAME]\Documents\CEL Robox\PrintJobs\[LATESTPRINTJOB]\slicer_wrapper.log

C:\Users\[YOURUSERNAME]\Documents\CEL Robox\robox_slicer_extension.log

C:\Users\[YOURUSERNAME]\AppData\Roaming\CEL Robox\AutoMaker.log

This might give us some clues.

Also post a screenshot of windows explorer, showing the contents of C:\Program Files\Slic3r

[2017-08-07 13:18] 24c commented on #30
OK, Ben, first issue, CEL Robox didn’t install into the Documents folder for some reason, but other stuff for info.

Logfile for Robox-slicer-extension

19:16:53.123 INFO    [java.util.logging.LogManager$RootLogger log] Started robox slicer extension
19:16:53.127 FINE    [com.roboxing.slicerextension.flow.Arguments process] Invoked with arguments:
19:16:53.128 FINE    [com.roboxing.slicerextension

[2017-08-07 13:23] nebbian commented on #30
Well that will never work!  It's trying to call the mac version of Slic3r.  I wonder what version of the robox slicer extension jarfile you're running?  Perhaps try replacing c:/Program Files/CEL/Common/robox-slicer-flow-1.0-SNAPSHOT.jar with this one:
https://github.com/nebbian/RoboxSlicerExtension/blob/master/robox-slicer-flow-1.0-SNAPSHOT.jar

[2017-08-07 13:23] natdan commented on #30
Our extension tried to invoke Mac Slic3r not Windows. @nebbian I think we need to update our .jar in github - it might be old version there. If I get time I'll do it - but if I don't post here in next hour - please do maven build and update new version of our jar. It is possible you've done it locally and that's the reason it works for you! :)

[2017-08-07 13:24] natdan commented on #30
LOL - we typed at the same time! :)

[2017-08-07 13:24] nebbian commented on #30
@natdan, I updated it yesterday :)

[2017-08-07 13:30] natdan commented on #30
@24c Installer when run should detect previous installation and allow you to uninstall it and install it again. Maybe you should try that if you haven't already...

[2017-08-07 13:35] 24c commented on #30
Interesting, I don’t know why that is, but when I have just put the CEL Robox file in the Documents folder, something is happening

…and that’s all it was, the CEL Robox folder hadn’t installed into the Documents folder, so is this an error in the installer?

Cheers
Mike

[2017-08-07 13:37] nebbian commented on #30
@24c is it slicing properly now?  Interested to hear what's going on.  I had to do all manner of trickery to get things to work for me, I've forgotten all the things I did to get it all happening.

From memory I thought that the CEL Robox folder in the Documents was actually created by AutoMaker, I could be wrong though.

[2017-08-07 13:43] 24c commented on #30
Hi again, that’s why I thought I’d have a go. I did uninstall stuff previously, and I used the later update, and it did update @natdan. :)
The problem was definitely the CEL Robox install being in a different place, not sure which is right?

The only other thing that might interest you, is when Slic3r opens as part of the AutoMaker Make sequence, it flashes in the screen briefly, then goes behind

[2017-08-09 09:31] 24c commented on #15
Anybody? I'm still trying to do this with your Slic3r port on Windows and macOS, despite following the right Slic3r ops as far as I can tell...
You double click on the 3D part, an select the STL file and add the extruder1 or 2 in our case. AutoMaker is still ignoring the generated GCode, even though it is OK in Preview after slicing.

![screen shot 2017-08-09 at 08 10 07](https://user-images.githu

[2017-08-09 14:09] nebbian commented on #15
I haven't tried to do a 2 colour part yet, and my robox currently has the single material head in it.  There's no reason to try this on Windows, you'd be better off using the mac software to try to get dual colour printing working.

I'd look at the GCode that the default slicer spits out, and then compare with the GCode that Slic3r spits out, when doing a 2 colour part.  I wouldn't be surprised if

[2017-08-09 15:33] 24c commented on #15
OK

from the Slic3r GCode
; Filament gcode

_M109 S250 T0 ; set temperature and wait for it to be reached
M109 S250 T1 ; set temperature and wait for it to be reached
G21 ; set units to millimeters
G90 ; use absolute coordinates
M83 ; use relative distances for extrusion
T0 ; change extruder
;LAYER:0
G1 Z0.300 F12000.000 ; move to next layer (0)
G1 E-0.50000 F1800.00000 ; retract
G1 X106.125 Y64.6

[2017-08-12 16:41] nebbian commented on #15
Hi @24c, try downloading the latest flow java file, and doing a multiple colour print now.

The problem was that our java postprocessor wasn't handling the T0 and T1 code correctly.  I'm doing a multiple colour print now :-)

[2017-08-12 17:20] 24c commented on #15
I had to double click and select Extruder 1 & extruder 2 for each STL part, rather than use default & 1 for example, but it's previewed OK, sliced, and queued, so now I wait and see. Many thanks, as always guys.

[2017-08-14 06:15] nebbian opened #31 "Installer might not be updating flow .jar"
Following on from this:
http://www.cel-robox.com/forums/topic/two-colour-printing-2/page/2/#post-43327

It appears as if the installer might not be updating the flow .jar file.  I'm not sure what's going on here.

[2017-08-14 06:27] 24c commented on #31
Is it the .jar getting blocked by System Preferences and the Security settings?

[2017-09-01 12:15] diego191 opened #32 "Linux support"
I tried to get working your beautiful extension for Robox on Linux.
I've found that's needed to define path to slic3r in this file: RoboxSlicerExtension/java/robox-slicer-extension/robox-slicer-flow/src/main/java/com/roboxing/slicerextension/flow/OS.java

Then I compiled the robox-slicer-flow-1.0-SNAPSHOT.jar. Finally I run `java -jar robox-extensions-installer.jar` which worked quite well.
Now af

[2017-09-01 15:18] 24c commented on #32
diego191 this is the path for macOS, ignore the jar file names, as I rename them to move from the default Cura to Slic3r.
![screen shot 2017-09-01 at 16 14 01](https://user-images.githubusercontent.com/29804537/29976215-2e328f70-8f31-11e7-8db6-e98aeea77630.png)

[2017-09-01 15:40] nebbian commented on #32
Hi @diego191, welcome aboard!
It sounds like you're really close to finding the solution.

Quick note, the script slic3r_postprocess.pl is a red herring.  Don't use it.  The post processing is now done in the jar file itself (it used to be done by telling slic3r to use this script to postprocess the gcode).

Regarding the autolaunch of slic3r, I had a similar problem with Windows, believe it or no

[2017-09-01 15:45] nebbian commented on #32
If you just want to marvel at your Robox printing stuff that was produced by Slic3r, you could always open Slic3r, and in the Print Settings tab, enter the path of slic3r_postprocess.pl into the "Output Options" section.

[2017-09-01 15:46] 24c commented on #32
I did read about this.... @diego191
https://www.reddit.com/r/3Dprinting/comments/6cxttv/slic3r_prusa_edition_wont_open_these_stl_files/
Did you try opening the stl files in Slic3r as a standalone pp first to check whether the errors are there then? It suggest it might be a "naughty" text character in the file name.

[2017-09-06 14:00] diego191 commented on #32
Hi guys, I'm sorry for the late response. I'm very busy in these days. Thank you for your tips. I just found where is the problem. If I run following command
`slic3r /home/diego/CEL\ Robox/PrintJobs/6b8e4945ab8741a2/6b8e4945ab8741a2-0.stl`
then the slic3r fails.

But if I run this:
[code]
then the model is loaded to slic3r correctly! So the problem is in path with white spaces.
The question is how

[2017-09-06 14:15] natdan commented on #32
I just cannot catch up with current affairs leave alone this project. I started daydreaming what is needed and how I can help. Anyway - out of curiosity - did you try something like:
[code]

Space alone ('\ ') might not be enough...

[2017-09-06 14:21] diego191 commented on #32
Yes, I tried all possible combinations:
[code]

I'm afraid that's bug in slic3r...

[2017-09-06 14:34] natdan commented on #32
:( - thanks... It was worth trying. I have some other ideas how it might be fixed but can't even count getting near computer until weekend - if then. But this can't go on - I'll get there eventually unless someone beats me to it! :) (hint: process builder has ability to set working directory for subprocess...)

[2017-09-13 13:47] nebbian opened #33 "Cura 2.7 support"
We're almost there guys.  Check this out:

http://www.cel-robox.com/forums/topic/robox-slicer-control-snapshot-jar-cura-2-7/

What would be really helpful would be to scan the printjob folder for the latest modified file in there, check to see that it has a suffix of .gcode, and then copy/move it to to the filename that is expected (xxxxxxxxxx.slicer.gcode).

My java skills are atrocious, do eithe

[2017-09-13 19:23] natdan commented on #33
:+1: roger! :)

[2017-09-14 05:39] Benraay commented on #33
Good idea I was stuck with the way of solving this problem.

I will give it a check this week.

[2017-09-16 21:27] Benraay commented on #33
I made a branch Cura2.5-support and pushed a fix for this the cura file ending with "-0.gcode" will be renamed with ".slicer.gcode" at the end and continue the process.

I tested the rename it went ok and generated the files did'nt take time to make a real printing test
I let you make a test with this if it's ok we can merge this on the master.

[2017-09-18 18:21] natdan commented on #33
I am sorry to be so slow these days - I am really struggling to do anything computer based for months now! :( Printer as well...

Anyway - I have cleaned the code in the branch a bit and moved non-common (Cura specific code) back to Cura class. If other slicers are to do the same we can make it more generic then.

Also, @Benraay - did you mean endsWith("-0.gcode") or endsWith("-0.slicer.gcode") or

[2017-09-18 19:54] Benraay commented on #33
No it was only endsWith("-0.gcode") because the stl file provided ends his name with that -0 at the end and cura adds a prefix depending on the name of your settings but this zero stays at the end and it is the only file in that folder with the -0 at the end so I bet this is always the good one.
It will work in most cases i don't know if sometimes the stl file ends with a -1 if it's the case we ne

[2017-09-18 20:03] natdan commented on #33
Thanks. It will do for now, then! :)

[2017-09-19 08:00] nebbian commented on #33
Thanks for doing this work @Benraay.  I think that it shouldn't be tied into Cura though, as this is a general case solution that should work for all slicers.  If you just scan the folder for the last modified file in there, and ensure that it ends in .gcode, then that's the file we should be parsing.
I don't know how the other slicers (Simplify3D, MakerWare, etc) handle command line arguments, bu

[2017-09-19 08:29] Benraay commented on #33
I agree with this global solution it's why I had put the code in the global Slicer class.
looks ok but I don't know if it's easy to get last modified date from a file in java I need to give it a try tonight

[2017-09-19 08:31] Benraay commented on #33
ok there is a File.lastModified() timestamp easy to do I will do it tonight

[2017-09-19 11:53] natdan commented on #33
Looking at '-0' is Cura's specific.

Looking for last modified date is not sufficient. What would happen if users have ability to save .gcode and they don't? Or save file somewhere else? Maybe we need to identify a file in our printjob specific folder (or even create one ourselves!) with appropriate timestamp (files can be 'touched' in Java) and then make search based on that date - anything that

[2017-09-19 12:51] Benraay commented on #33
looking for the last .gcode file is only in the specific PrintJob Folder with the robox hash for that printing so there are few chances that there would be another gcode file that was modified just after the one from the slicer the check is done just after we close the slicer.

[2017-09-19 13:10] natdan commented on #33
But is there a chance that .gcode won't be saved by the Cura (user action in Cura) and we'll pick wrong .gcode file? I propose we 'touch' all .stl file in that dir and find the latest .gcode that has timestamp after .stl files. I don't mind give it a go this evening if you want. Otherwise - its all yours! :D

[2017-09-19 13:20] Benraay commented on #33
not bad checking the stl date is a good idea I let you do it (I have a new Assassin's creed to test also tonight !!!)

[2017-09-19 13:38] natdan commented on #33
Film or game? :)

[2017-09-19 14:33] Benraay commented on #33
Game the "Syndicate" opus

[2017-09-19 16:50] natdan commented on #33
Cool! :)

BTW I've typed something in - didn't get chance to test it yet. If you have chance have a look and let me know if it is on the right path...

[2017-09-19 17:28] natdan commented on #33
OK - here is reasoning behind what I've done:

- good I looked more deeply into searching for the gcode file as it definitively does not belong to Slicer class, but Processor
- also, setting up stl files' timestamp is completely unnecessary as processor 'knows' what time it invoked slicer (of a choice) and will look for files with timestamp after that time
- and only if expected file is not there

[2017-09-19 19:04] Benraay commented on #33
very nice it's really strong like that !

[2017-09-19 22:52] nebbian commented on #33
@natdan, that sounds like an excellent solution.  Well done!  I won't be able to test it for almost a week though, so if someone else can test it then I'll move it live.

[2017-09-20 07:07] natdan commented on #33
@nebbian I did 'test' it and part where appropriate gcode is found works (see the log) but got exception:
[code]
It seems that this branch is not really working. @Benraay - what other changes does the branch contain? Is it worth rebasing it on master (I started, got to conflicts and real life kicked in so I didn't return to it last night). Now I am not 100% sure what to do:

- continue with rebasi

[2017-09-20 08:06] Benraay commented on #33
I did'nt change any other part of the code, do you have the  same bug with the same file with master version ?

[2017-09-20 08:23] natdan commented on #33
I didn't get to try it out. Good point. I'll do so before doing anything else.

[2017-09-20 08:23] Benraay commented on #33
I just added a gitIgnore for .idea folder

[2017-09-20 08:26] natdan commented on #33
:+1:

[2017-09-22 19:49] natdan commented on #33
OK - I've managed to finally wrestle with rebasing/differences between branches and exception I've got. It seems that all is fine regarding changes in master vs cura2.7-support branches (I've been rebasing it on wrong 'master' branch - my fault). Exception happens to me in both master and branch and is probably due to old version of Cura I've been using (2.3.4 rather than 2.7).

So, if someone can

[2017-09-22 19:50] natdan commented on #33
BTW in the mean time I'll try to sort out my Robox (clean my extruder as it seems to be jammed) and install Cura 2.7 to give it a go myself, too.

[2017-09-22 20:47] 24c commented on #33
If it's compiled I'll give a go..I'm stupid enough to own two Robox printers ;)

[2017-10-12 12:38] nebbian commented on #33
@24c can you please email me?  I might be able to help out.

[2017-10-21 14:35] 24c opened #34 "Cura 3 is available"
Guys, Cura 3 has enabled relative extrusion if you hit a checkbox. It's working after a filename swap, the default is "RD_file", but if you substitute the STL file less the ".stl" when you save, it will post process lovely in AutoMaker like Slic3r does. Impressively, it seems to be working very well, with my default DM settings, but I have checked teh Relative Extrusions checkbox in Settings.
![cu

[2017-11-07 09:28] natdan opened #35 "rbx-toolset"
https://github.com/natdan/rbx-toolset

@Benraay To answer forum quesion here:

And yes – check the link! README over there explains just that. Make a bash script with
[code]
Call it rbx with right (executable) permission and you can do:
`$ rbx`

For example – the most important commands:
[code]

But before we use it we’ll need to check if and how much protocol between AM and Robox changed.

[2017-11-07 10:42] Benraay commented on #35
good news I willl make some tests tonight !!!

[2017-11-07 10:51] natdan commented on #35
Be careful as I didn't test it since... long time. In theory nothing will go wrong - it will work or not. It is good chance that I didn't implement all the DM stuff fully (or maybe they changed since real release of DM head).

[2017-11-08 10:07] natdan commented on #35
I've just found something fabulous: https://www.raspberrypi.org/forums/viewtopic.php?f=81&t=196641&p=1232133#p1232133
I'll invest some time to make shell script executable jar files in rbx-toolset project (and all others)...

[2017-11-29 17:14] natdan opened #36 "Merged cura2.7-support to master and setup github as maven repo"
Hi guys,
When you get change - could you, please, have a look if master branch is correct and has all your changes from cura2.7-support branch and if you are happy, @nebbian could you delete cura2.7-support (or let me know here and I'll remove it).
With it, hopefully, we can move to pull requests again (smaller and more manageable changes I hope so). That means create a branch here (of master), ad